body.freeze {
    overflow: hidden;
}

h1 { font-family: sans-serif; }
h2 { font-family: sans-serif; font-size: 2.5rem; }

@media screen and (min-width: 768px) and (max-width: 991px) {
    h2 { font-size: 1.8rem; }
}

p { font-family: 'Open Sans', sans-serif; }

.scroll {
    color: #fff;
    position: fixed;
    bottom: 2.5rem;
    width: 100%;
    left: 0;
    opacity: 1;
    text-align: center;
    transition: all 0.3s ease-in-out;
    z-index: 1;
}
.scroll.alt {
    color: #000;
}
.scroll.bounce {
    bottom: 1.75rem;
}
.scroll.hide {
    opacity: 0;
}

.menu {
    position: fixed;
    top: 2rem;
    right: 2rem;
    width: 2rem;
    cursor: pointer;
    z-index: 10;
}
.menu:before {
    content: "MENU";
    color: #fff;
    position: absolute;
    right: 3rem;
    font-size: 1rem;
    opacity: 0;
    transition: all 0.3s;
}
.menu.active:before {
    content: "CLOSE";
    color: #fff !important;
}
.menu.alt:before {
    color: #333;
}
.menu:hover:before {
    opacity: 1;
}
.menu .bar {
    background: #fff;
    border-radius: 2px;
    height: 4px;
    margin-bottom: 6px;
    transition: all 0.3s;
}
.menu.active .bar {
    background: #fff !important;
}
.menu.active .bar:nth-of-type(1) {
    transform: rotate(42deg);
    transform-origin: top left;
}
.menu.active .bar:nth-of-type(2) { opacity: 0; }
.menu.active .bar:nth-of-type(3) {
    transform: rotate(-42deg);
    transform-origin: bottom left;
}

.menu.alt .bar {
    background: #333;
}

.takeover {
    background: url("../img/hero-home.jpg") center center no-repeat;
    background-size: cover;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0; left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    visibility: hidden;
    z-index: 2;
    transition: all 0.3s;
}
.takeover.active {
    opacity: 1;
    visibility: visible;
}
.takeover div {
    width: 100vw;
}
.takeover div a {
    color: #535c75;
    display: block;
    font-size: 4rem;
    text-align: center;
    text-decoration: none;
    width: 100vw;
    transition: all 0.3s;
}
.takeover div a:hover {
    color: #fff;
}
.takeover div a:hover:after {
    content: " \BB";
    color: #f47821;
}

header {
    position: absolute;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%; }
    header > * { height: 100%; }
        header .container img { display: block; height: 100%; }

#hero {
    background: url("../img/hero-home.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    height: 100vh; }

    #hero > div { display: flex; align-items: center; }

    #hero .logo { width: 360px; padding-right: 60px; }
    #hero .hr { background: rgba(255,255,255,0.2); display: block; height: 70vh; width: 2px; margin: 0 9px; }
    #hero .headline { width: calc(100% - 380px); padding-left: 60px; }
        #hero .headline h1 { color: #535c75; font-size: 3rem; }
        #hero .headline p { color: #fff; font-size: 1rem; }
        #hero .headline .hr { width: calc(100% + 60px ); height: 2px; margin: 2rem 0 2rem -69px; }

        #hero .headline a { color: #f47821; display: inline-block; margin-right: 1.25rem; transition: all 0.25s; text-shadow: 5px 5px 5px #0f2542; }
        #hero .headline a:hover { color: #fff; }

@media all and (min-width: 768px) and (max-width: 991px) {
    #hero { min-height: 1024px; }
    #hero > div {
        display: block;
        padding: 0 2rem;
    }
    #hero .logo { width: 70%; margin: 0 auto 4rem; padding-right: 0; }
    #hero .hr { height: 2px; width: 100%; margin: 1.5rem auto; }
    #hero .headline { width: 100%; padding-left: 0; }
        #hero .headline h1 { font-size: 2rem; margin: 3rem 0; text-align: center; }
        #hero .headline p { text-align: center; }
        #hero .headline .hr { width: 100%; margin: 2rem 0; }
}

section {
    display: flex;
    align-items: center;
    padding: 30px;
    margin-bottom: -30px;
    position: relative;
    height: 100vh; }
    section .container,
    section .container-fluid {
        display: flex;
        align-items: center;
        height: 100%;
        padding: 0; }
    section .container div.hr,
    section .container-fluid div.hr {
        background: rgba(255,255,255,0.2);
        height: 2px;
        margin: 2rem 0;
        width: 100%;
    }
section a { color: #f47821; display: inline-block; font-size: 1rem; font-weight: bold; transition: all 0.25s; }
section a:hover { color: #fff; }
section a.btn { border-radius: 0px; font-weight: bold; padding: 0.5rem 2rem; transition: all 0.3s; }
section a.btn:hover { background: #333 !important; color: #fff !important; }
section a.btn + a.btn { margin-left: 2rem; }

@media screen and (min-width: 768px) and (max-width: 991px) {
    #design,
    #web-development,
    #consulting,
    #portfolio {
        height: auto;
    }
}

#design .container-fluid > div:nth-of-type(1) { background: #535c75; color: #fff; display: flex; align-items: center; height: 100%; width: calc(60% - 15px); margin-right: 15px; padding: 0 5rem;}
#design .container-fluid > div:nth-of-type(2) { background: url("../img/design.jpg") center center no-repeat; height: 100%; width: calc(40% - 15px); margin-left: 15px; }
#design a.btn { background: #fff; color: #535c75; }

@media screen and (max-width: 1199px) {
    #design a.btn + a.btn { display: block; margin-left: 0; margin-top: 1rem; width: 224px; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #design .container-fluid {
        background: url("../img/design.jpg") center center no-repeat;
        background-size: 100%;
    }
    #design .container-fluid > div:nth-of-type(1) {
        width: calc(75% - 15px);
    }
    #design .container-fluid > div:nth-of-type(2) {
        display: none;
    }
}

#web-development .container-fluid > div:nth-of-type(1) { background: url("../img/web-development.jpg") center center no-repeat; background-size: cover; height: 100%; width: calc(40% - 15px); margin-right: 15px; }
#web-development .container-fluid > div:nth-of-type(2) { background: rgba(33,33,33,0.2); color: #0f2542; display: flex; align-items: center; height: 100%; width: calc(60% - 15px); margin-left: 15px; padding: 0 5rem;}
#web-development a.btn { background: #0f2542; color: #fff; }

@media screen and (max-width: 1199px) {
    #web-development a.btn + a.btn { display: block; margin-left: 0; margin-top: 1rem; width: 224px; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #web-development .container-fluid {
        background: url("../img/web-development.jpg") center center no-repeat;
        background-size: 100%;
    }
    #web-development .container-fluid > div:nth-of-type(2) {
        background: #efefef;
        width: calc(75% - 15px);
    }
    #web-development .container-fluid > div:nth-of-type(1) {
        opacity: 0;
    }
}

#consulting { margin-bottom: 0; }
#consulting .container-fluid > div:nth-of-type(1) { background: #f47821; color: #fff; display: flex; align-items: center; height: 100%; width: calc(60% - 15px); margin-right: 15px; padding: 0 5rem;}
#consulting .container-fluid > div:nth-of-type(2) { background: url("../img/consulting.jpg") center center no-repeat; height: 100%; width: calc(40% - 15px); margin-left: 15px; }
#consulting a { color: #0f2542; }
#consulting a:hover { color: #fff; }
#consulting a.btn { background: #fff; }

@media screen and (max-width: 1199px) {
    #consulting a.btn + a.btn { display: block; margin-left: 0; margin-top: 1rem; width: 264px; }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    #consulting .container-fluid {
        background: url("../img/consulting.jpg") 30% center no-repeat;
        background-size: 100%;
    }
    #consulting .container-fluid > div:nth-of-type(1) {
        width: calc(75% - 15px);
    }
    #consulting .container-fluid > div:nth-of-type(2) {
        display: none;
    }
}

#portfolio { background: url("../img/portfolio.jpg") center center no-repeat; background-size: cover; margin-bottom: 0; }
#portfolio .container-fluid > div:nth-of-type(1) { background: #0f2542; color: #fff; display: flex; align-items: center; height: 100%; width: calc(40% - 15px); margin-right: 15px; padding: 0 5rem; }
#portfolio .container-fluid > div:nth-of-type(2) { background: rgba(255,255,255,0.8); color: #0f2542; display: flex; align-items: center; height: 100%; width: calc(60% - 15px); margin-left: 15px; padding: 0 5rem; }

@media screen and (min-width: 768px) and (max-width: 991px) {
    #design .container-fluid > div:nth-of-type(1),
    #web-development .container-fluid > div:nth-of-type(2),
    #consulting .container-fluid > div:nth-of-type(1),
    #portfolio .container-fluid > div:nth-of-type(1) {
        padding: 3rem 2rem;
    }
}

#talk-to-us {
    height: calc(100vh - 360px);
    margin-bottom: 0; }
    #talk-to-us .container > div {
        justify-content: center;
        text-align: center;
        width: 100%;
    }

    #talk-to-us .container div.col-md-10 > div:nth-of-type(1) {
        padding: 0 2rem;
    }
    #talk-to-us .hr { background: rgba(244,120,33,0.2); }

    #talk-to-us a { border: 2px solid #0f2542; color: #0f2542; display: inline-block; padding: 0.5rem 1rem; text-decoration: none; width: 100%; font-size: 1.25rem; }
    #talk-to-us a:hover { background: #0f2542; color: #fff; }

@media screen and (min-width: 768px) and (max-width: 991px) {
    #talk-to-us { height: 100vh; }
    #talk-to-us a { margin: 1rem 0; }
}

footer {
    background: rgba(33,33,33,0.2);
    color: #0f2542;
    height: 360px;
    padding: 3rem 0;
}
footer .hr {
    background: rgba(255,255,255,0.2);
    height: 2px;
    margin: 2rem 0;
    width: 100%;
}
footer .col-md-4 { text-align: right; }
footer span {
    display: inline-block;
    margin-left: 1rem;
    margin-top: -0.75rem;
}
footer span:nth-of-type(1) {
    margin-left: 0;
}
footer a {
    color: #fff;
}
footer a:hover {
    color: #0f2542;
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    footer .hr { margin: 1rem 0; }
    footer .col-lg-8 p { margin-bottom: 0; margin-top: 8px; }
    footer span { margin-top: 1rem; }
}

.faq, .event {
    background: url("../img/faq.jpg") center center no-repeat;
    background-size: cover;
    display: none;
    overflow-y: scroll;
    position: fixed;
    height: 100vh;
    width: 100vw;
    padding-top: 8rem;
    padding-bottom: 8rem;
    top: 0; left: 0;
    z-index: 100; 
}
.event {
    background: url("../img/events.jpg") center center no-repeat;
    background-size: cover;
}
.faq > a,
.event > a {
    color: #fff;
    font-size: 4rem;
    line-height: 0;
    position: fixed;
    z-index: 4;
    top: 3rem;
    right: 2rem;
    text-decoration: none;
    transition: all 0.3s;
}
.faq a:hover,
.event a:hover {
    color: #f47821;
}
    .faq .container,
    .event .container {
        overflow-x: hidden;
    }
    .faq .container a,
    .event .container a {
        color: #fff;
        transition: all 0.3s;
    }
    .faq .container a:hover,
    .event .container a:hover {
        color: #f47821;
    }
    .faq .container h2,
    .event .container h2 {
        color: #fff;
        font-size: 5rem;
        font-weight: 300;
        line-height: 1;
        margin-bottom: 0; }
        .faq .container h2 span,
        .event .container h2 span {
            color: #535c75;
            display: block;
            font-weight: 800;
            font-size: 1.5rem;
            line-height: 1;
            text-transform: uppercase;
        }
        .event .container h2 span {
            color: #0f2542;
        }
        
    .faq .container .hr,
    .event .container .hr {
        background: #535c75; display: block; width: calc(100% + 2rem); height: 2px; margin: 2rem -1rem; }
    .event .container .hr {
        background: #0f2542;
    }

    .faq p, .faq li,
    .event p {
        color: #fff; }
        .faq p strong {
            color: #f47821;
            display: block;
            font-size: 1.5rem;
        }
    .faq p:not(:last-child),
    .event p:not(:last-child) { margin: 4rem 0; }
    .faq p+ul { margin-top: -3rem; }

    .event h4 {
        color: #f47821;
        font-size: 1.5rem;
        margin-top: 1rem;
    }

.case-study {
    background:rgba(255,255,255,0.98);
    display: none;
    overflow-y: scroll;
    position: fixed;
    height: 100vh;
    width: 100vw;
    padding-top: 8rem;
    padding-bottom: 8rem;
    top: 0; left: 0;
    z-index: 100; }

.case-study > a {
    color: #0f2542;
    font-size: 4rem;
    line-height: 0;
    position: fixed;
    z-index: 4;
    top: 3rem;
    right: 2rem;
    text-decoration: none;
    transition: all 0.3s;
}
.case-study a:hover {
    color: #f47821;
}
    .case-study .container {
        overflow-x: hidden;
    }
    .case-study .container a {
        color: #0f2542;
        transition: all 0.3s;
    }
    .case-study .container a:hover {
        color: #f47821;
    }
    .case-study .container h2 {
        color: #f47821;
        font-size: 5rem;
        font-weight: 300;
        line-height: 1;
        margin-bottom: 0; }
        .case-study .container h2 span {
            color: #535c75;
            display: block;
            font-weight: 800;
            font-size: 1.5rem;
            line-height: 1;
            text-transform: uppercase;
        }
    .case-study .container .hr {
        background: rgba(33,33,33,0.2); display: block; width: calc(100% + 2rem); height: 2px; margin: 2rem -1rem; }
    .case-study .container .work {
        display: block;
        margin: 2rem 0;
        text-align: center; }
        .case-study .container .work p.dark {
            background: #333;
        }
    .case-study .container .work strong {
        color: #535c75;
        display: block;
        margin: 1rem 0;
    }